{{#if usuario}}
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center">
                    <div class="card-body">
                        
                            <h3>Welcome{{!usuario.nombre}}!</h3>
                            <h4>Visit the <a href="/sisris/panel/1">Blue Basin Prototype</a>!</h4>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{#each invitaciones}}
        <div class="card text-center">
            <div class="card-body">
                <h5>Has recibido una invitación por parte de {{emisor}} para unirte a su servicio {{sisri}}</h5>
                <form method="POST" action="/sisris/aceptar/{{id}}" >
                    <button type="submit" name="estatus" value = 1 class="btn btn-success"><center>ACEPTAR</center></button>
                </form>
            </div>
        </div>
    {{/each}}
    <div class="container">
        <h1>Contact Us</h1>
        <p>Share your email or phone number with us for a better communication!!</p>
        <form target="_blank" action="https://formsubmit.co/e4aa9132c945d8c957a6ae25a11ce179" method="POST">
            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <input type="text" name="name" class="form-control" placeholder="Complete Name or Enterprise" required {{!readonly}}>
                    </div>
                    <div class="col">
                        <input type="email" name="email" class="form-control" placeholder="Email" required {{!readonly}}>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea placeholder="Message" class="form-control" name="message" rows="5" required></textarea>
            </div>
            
            <button type="submit" class="btn btn-success btn-lg btn-block">Send</button>

            <input type="hidden" name="_next" value="https://blue-basin1.up.railway.app/profile">
            <input type="hidden" name="_captcha" value="false">
        </form>
    </div>
{{/if}}