<h5><center>Primer Modelo</center></h5>
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                        {{!<div class="form-group">}}
                            {{!<input type="text" class="form-control" name="nombresisri" placeholder="Nombre" autofocus>}}
                        {{!</div>}}
                        {{!</div>}}
                            <h6><center>Control de Riego Remoto</center></h6>
                            
                            {{!<input type="password" class="form-control" name="clavedemodelo" placeholder="Clave de Modelo">}}
                        {{!<div class="form-group">}}
                        <form action="/add" method="POST">
                            
                            <button type="submit" name="onoff" value= 1 class="btn btn-primary m-4"><center>Encender</center></button>
                            <button type="submit" name="onoff" value= 0 class="btn btn-primary m-4"><center>Apagar</center></button> 
                        
                        </form> 
                        {{!</div>}}
                </div>
            </div>
        </div>
    </div>
</div>