<forms>
    <input type="text" name="usuario" placeholder="Usuario">
    <input type="text" name="nombre" placeholder="Nombre" autofocus="true">
    <input type="password" name="clavedemodelo" placeholder="Clave de Modelo">
    <input type="text" name="descripcion" placeholder="Descripción">
    <button type="submit">Registrar SISRI</button>
</forms>