<div class="container p-4">
    <div class="row">

        
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="">
                            <h3 class="card-title text-uppercase">
                                <form action="/api-relay-state" method="GET">
                                    <button>Oprima para sincronizar</button>
                                </form>
                            </h3>
                        </a>
                    </div>
                </div>
            </div>
        

    </div>
</div>